* {
  font-family: 'David Libre', serif;
  border:0px solid blue;
  
}

#ve {
 
  color:#433;
  

  width:100%;
  text-align:center;
  position:absolute;
  margin-top:-250px;
  font-size:75px;
 font-weight:400;
  border-bottom:2px solid #333;
  border-top:2px solid #333;
}


#a {
  margin:auto;
  margin-top:75px;
  text-align:center;
  color:crimson;
  font-size:69px;
  padding-bottom:10px;
  border-bottom:10px ridge crimson;
  width:80%;
    border-top:0px solid blue;
  font-weight:400;
}

#main {
  border:0px solid blue;
  margin:0 auto;
 margin-top:20px;
  max-width:900px;
  color:#555;
  font-size:30px;
  padding:100px;
  padding-top:0px;
  font-weight:400;
  margin-bottom:0px;
  line-height:1.5;
  padding-bottom:50px;
}

body {
  padding:0px;
  
  margin:0px;
  background-color:white;
}

#main::first-letter {
  color:crimson;
  font-size:100px;
  float:left;
  margin-right:10px;
  border:0px solid blue;
  margin-bottom:-60px;
  margin-top:-22px;
  
}

h1::first-letter{
  
  
}

div {
  
  width:100%;
  height:50px;
  border: 0px solid blue;
  background-color:crimson;
  color:white;
  
  
  /*position:fixed;
  top:0;*/
}

#bot {
  color:white;
  line-height:50px;
  font-weight:400;
  font-size:30px;
  padding-left:50px;
}

img {
  max-height:20em;
 width:100%;
  margin:0px;
  margin-bottom:-4px;
  padding:0px;
}